.main {
  @apply px-4 min-h-screen sm:px-0 space-y-16 w-full bg-gray-900;
  background-image: radial-gradient(hsla(0, 0%, 84.3%, 0.25) 1px, transparent 0),
    radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  -webkit-animation: slide 2s linear infinite;
  animation: slide 4s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 0;
}

.prelogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  color: white;
  font-size: x-large;
}

.footer {
  background-color: transparent;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.spotmeButton {
  background-color: gray;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a {
  color: rgb(127, 171, 252);
}

.genre {
  font-weight: bold;
}

.genreText {
  color: rgb(127, 171, 252);
  font-weight: bold;
}

.genre:hover {
  cursor: pointer;
}

.genreCardPopup {
  position: fixed;
  width: 150px;
}

.genreCard {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0.25rem;
  border-radius: 1rem;
  background-color: rgb(33, 54, 92);
  border: 1px solid rgb(127, 171, 252);
  box-shadow: 0px 0px 20px black;
}

.genreCard>img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.flier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid white;
  background-color: black;
}

.flierSkeleton {
  height: 1200px;
  width: 40rem;
  background-color: gray;
}

.shimmer {
  color: grey;
  display:inline-block;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

.flierImage {
  width: 100%;
  height: auto;

  --mask: linear-gradient(to bottom, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 90%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

.flierText {
  margin-top: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}